# Identifiants de base de données PostgreSQL
DB_HOST=db
DB_NAME=to_do_it
DB_USER=votre_utilisateur
DB_PASSWORD=votre_mot_de_passe

# Identifiants pgAdmin
PGADMIN_EMAIL=admin@votre-domaine.com
PGADMIN_PASSWORD=votre_mot_de_passe_securise
